<div class="header-container">
    <div class="header-content">
        <div class="logo">
            <span class="logo-title">VIDEO COURSE</span>
        </div>
        <div class="button-container">
            <button (onclick)="logIn()" class="button header-content__button button--small">User login</button>
        </div>
        <div class="button-container">
            <button (onclick)="logOff()" class="button header-content__button button--small">Log off</button>
        </div>
    </div>
</div>
