<div class="header-container">
    <div class="header-content">
        <div class="logo">
            <span class="logo-title">VIDEO COURSE</span>
        </div>
        <div class="header-content--name">
            <span>{{(name$ | async)?.first}}</span>
            <span>{{(name$ |async)?.last}}</span>
        </div>
        <div class="button-container">
            <button (click)="logIn()" class="button header-content__button button--small">User login</button>
        </div>
        <div class="button-container">
            <button (click)="logOff()" class="button header-content__button button--small">Log off</button>
        </div>
    </div>
</div>
