<div
    class="input-error-label"
    [ngClass]="{'input-error-label--hidden': !(controls.errors && controls.touched)}"
>{{controls.errors && (
    (controls.errors.isEmpty && 'Не выбрано ни одного автора')
)}}</div>
<div class="input-container" [ngClass]="{'input-container--error': controls.invalid && controls.touched}">
    <div class="author-item" *ngFor="let item of value">
        <div>{{item.name}} {{item.lastName}}</div>
        <div class='author-item__remove' [id]="item.id" (click)="removeAuthor($event)">✖</div>
    </div>
    <div class="author-item__open" (click)="openList()">+</div>
</div>
<div class="authors-list" *ngIf="listIsOpened">
    <div *ngFor="let item of authors$ | async" [id]="item.id" (click)="addAuthor($event)">{{item.name}} {{item.lastName}}</div>
</div>
