<div class="course-view-container">
    <app-loader *ngIf="this.loaderService.showLoader"></app-loader>
    <div class="course-view-content" *ngIf="!this.loaderService.showLoader">
        <div class="course-view-content--title">{{course.name}}</div>
        <div class="course-view-content--description">{{course.description}}</div>
        <div class="course-view-content--startdate">{{course.startDate}}</div>
        <div class="course-view-content--duration">{{course.length | durationFormatter}}</div>
    </div>
</div>
