<div
    class="input-error-label"
    [ngClass]="{'input-error-label--hidden': !(formControl.errors && formControl.touched)}"
>{{formControl.errors && (
    (formControl.errors.required && 'Поле не заполнено') ||
    (formControl.errors.invalidPattern && 'Неверно введена длительность')
)}}</div>
<div class="component-wrapper">
    <div class="input-container" [ngClass]="{'input-container--error': formControl.invalid && formControl.touched}">
        <input
            [(ngModel)]="value"
            (ngModelChange)="updateValue($event)"
            class="input-field"
        />
    </div>
    <div class="input-field__appendix">{{value | durationFormatter}}</div>
</div>
