<div class="add-course-container">
    <div class="add-course-content">
        <form [formGroup]="addCourseForm" (submit)="onSubmit()">
            <div class="form-section">
                <label for="title">Title</label>
                <input id="title" formControlName="title" />
            </div>
            <div class="form-section">
                <label for="description">Description</label>
                <textarea id="description" formControlName="description"></textarea>
            </div>
            <div class="form-section form-section--short">
                <label for="date">Date</label>
                <input id="date" formControlName="date" type="number" />
            </div>
            <div class="form-section form-section--short">
                <label for="duration">Duration</label>
                <input id="duration" formControlName="duration" type="number" />
            </div>
            <div class="button-block">
                <app-button type="submit" [title]="'Login'" [size]="'MEDIUM'" [color]="'BLUE'"></app-button>
                <app-button (onclick)="onCancel()" [title]="'Cancel'" [size]="'MEDIUM'" [color]="'BLUE'"></app-button>
            </div>
        </form>
    </div>
</div>
