.course-container {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "title duration ."
        "description description buttons";
    grid-row-gap: 10px;
    background-color: white;
    font-family: Calibri;
    line-height: 26px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(192, 192, 192, 0.5);
    padding: 24px;
    border-radius: 5px;
}

.course-title {
    grid-area: title;
    font-size: 28px;
}

.course-duration {
    grid-area: duration;
    color: rgb(190, 190, 190);
    justify-self: end;
}

.course-description {
    grid-area: description;
    color: grey;
}

.course-buttons {
    grid-area: buttons;
    justify-self: end;
    align-self: center;
    display: flex;

    & * {
        margin-left: 5px;
    }
}
