<div class="auth-container">
    <div class="auth-content">
        <h2>{{"auth.login" | translate}}</h2>
        <p>{{"auth.login" | translate}}</p>
        <app-input [placeholder]="'auth.login' | translate" [(value)]="login" ></app-input>
        <p>{{"auth.password" | translate}}</p>
        <app-input [placeholder]="'auth.password' | translate" [(value)]="password" ></app-input>
        <p>
            <app-button (onclick)="logIn()" [title]="'auth.sign-in' | translate" [size]="'MEDIUM'" [color]="'BLUE'"></app-button>
        </p>
    </div>
</div>
