<div class="list-container">
    <app-loader *ngIf="this.loaderService.isLoading"></app-loader>
    <div *ngIf="!this.loaderService.isLoading">
        <app-search (startSearch)="setSearchedValue($event)"></app-search>
        <div class="list-content">
            <app-button (onclick)="addCourse()" [title]="'+ Add course'" [size]="'MEDIUM'" [color]="'BLUE'"></app-button>
            <ng-template #empty>
                <div class="empty-paceholder">No data. Fill free to add new course</div>
            </ng-template>
            <div class="courses" *ngIf='courses$ | async else empty'>
                <app-course
                    *ngFor="let item of courses$ | async | filter:(filter$) | orderBy"
                    (ondelete)="deleteCourse($event)"
                    (onedit)="editCourse($event)"
                    [item]="item"
                    >
                </app-course>
                <div class="add-more-container">
                    <a href='#'(click)="addCourse()">Add more</a>
                </div>
            </div>
        </div>
    </div>
</div>
