<div class="list-container">
    <div class="list-content">
        <app-button [title]="'+ Add course'" [size]="'MEDIUM'" [color]="'BLUE'"></app-button>
        <div class="empty-paceholder" *ngIf='!this.coursesService.getData() || this.coursesService.getData().length === 0'>No data. Fill free to add new course</div>
        <div class="courses">
            <app-course
                *ngFor="let item of this.coursesService.getData() | filter:(filter$) | orderBy"
                (ondelete)="deleteCourse($event)"
                [item]="item"
                >
            </app-course>
            <div class="add-more-container">
                <a href='#'(click)="addCourse()">Add more</a>
            </div>
        </div>
    </div>
</div>
