<div class="list-container">
    <app-loader *ngIf="this.loaderService.requestsCounter"></app-loader>
    <div *ngIf="!this.loaderService.requestsCounter">
        <app-search (startSearch)="setSearchedValue($event)"></app-search>
        <div class="list-content">
            <app-button (onclick)="addCourse()" [title]="'+ Add course'" [size]="'MEDIUM'" [color]="'BLUE'"></app-button>
            <div class="empty-paceholder" *ngIf='!this.coursesService.getData() || this.coursesService.getData().length === 0'>No data. Fill free to add new course</div>
            <div class="courses">
                <app-course
                    *ngFor="let item of this.coursesService.getData() | filter:(filter$) | orderBy"
                    (ondelete)="deleteCourse($event)"
                    (onedit)="editCourse($event)"
                    [item]="item"
                    >
                </app-course>
                <div class="add-more-container">
                    <a [routerLink]="" (click)="addMore()">Add more</a>
                </div>
            </div>
        </div>
    </div>
</div>
