.button-container {
    height: 42px;
    padding: 0 0 0 5px;
}

.button {
    height: 100%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background-color: #9BC837;
    border-radius: 3px;
    border: none;
    padding: 0 20px 0 20px;
    outline: 0;
}
